body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

canvas {
    display: inline-block;
}

#gui-left-container {
    position: absolute;
    width: 245px;
    left: 0;
    top: 0;
    z-index: 3;
    /*overflow-x:hidden;*/
}

.test-block {
    width: 100%;
    height: 40px;
    border: 0;
    background: #cccccc;
    margin-top: 5px;
}

.test-block:hover {
    background: #999999;
}

.test-block:active {
    background: #555555;
}

#tree {
    overflow-x: hidden;
}

#gui-test-panel {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    z-index: 3;
}

.dg.main.taller-than-window .close-button {
    border-top: 1px solid #ddd;
}

.dg.main .close-button {
    background-color: #ccc;
}

.dg.main .close-button:hover {
    background-color: #ddd;
}

.dg {
    color: #555;
    text-shadow: none !important;
}

.dg.main::-webkit-scrollbar {
    background: #fafafa;
}

.dg.main::-webkit-scrollbar-thumb {
    background: #bbb;
}

.dg li:not(.folder) {
    background: #fafafa;
    border-bottom: 1px solid #ddd;
}

.dg li.save-row .button {
    text-shadow: none !important;
}

.dg li.title {
    background: #e8e8e8 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
}

.dg .cr.function:hover,.dg .cr.boolean:hover {
    background: #fff;
}

.dg .c input[type=text] {
    background: #e9e9e9;
}

.dg .c input[type=text]:hover {
    background: #eee;
}

.dg .c input[type=text]:focus {
    background: #eee;
    color: #555;
}

.dg .c .slider {
    background: #e9e9e9;
}

.dg .c .slider:hover {
    background: #eee;
}

#ztree-title {
    background-color: rgb(232, 232, 232);
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: rgb(85, 85, 85);
    cursor: pointer;
    font-family: 'Lucida Grande', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 27px;
    line-height: 27px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 4px;
    padding-top: 0;
    text-align: left;
    text-shadow: none;
}

p.lib {
    height: 40px;
    border: 0;
    background: #cccccc;
    margin-top: 5px;
    text-align: center;
    font-family: BlinkMacSystemFont;
    font-size: 12px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

p.lib:hover {
    background: #999999;
}

p.lib:active {
    background: #555555;
}